body {
  background-color: rgb(36, 33, 33);
  color: rgb(0, 174, 255);
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
}

main {
  margin-top: 2%;
}

#caption {
  font-size: 20px;
  margin: 0;
  margin-left: 200px;
  margin-right: 200px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardTitle {
  position: relative;
  bottom: 140px;
  border-radius: 10px;
  font-size: 30px;
  border: solid 2px white;
  background-color: rgb(36, 33, 33);
  padding: 10px 10px;
  margin-left: -85px;
  margin-right: -85px;
  text-align: left;
}

.card {
  text-align: center;
  padding: 100px;
  margin: 30px;
  border-style: dashed;
  border-width: 2px;
}

#caption p {
  text-align: center;
  color: white;
}
